---
import Description from '../components/Description.astro';
import Header from '../components/Header.astro';
import Three from '../components/Three.astro';
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Matt's Portfolio">
	<main class="flex flex-col min-h-screen">
		<Header></Header>
		<Project name="Project" description="This is a project." startDate="Jan 2020" endDate="Feb 2022" stack="HTML CSS Javascript" imgSRC="https://picsum.photos/200/300"></Project>
		<Project name="Project2" description="This is a project." startDate="Jan 2020" endDate="Feb 2022" stack="HTML CSS Javascript" imgSRC="https://picsum.photos/200/300"></Project>
		<Project name="Project2" description="This is a project." startDate="Jan 2020" endDate="Feb 2022" stack="HTML CSS Javascript" imgSRC="https://picsum.photos/200/300"></Project>
		<div class="grow"></div>
		<Footer email="mwilso07@student.ubc.ca" linkedIn="https://www.linkedin.com/in/matthew-k-wilson/" github="https://github.com/mattkwilson" shadertoy="https://www.shadertoy.com/user/mattwilson720"></Footer>
	</main>
</Layout>

