---
export interface Props {
	email: string;
    linkedIn: string;
    github: string;
    shadertoy: string;
}

let { email, linkedIn, github, shadertoy } = Astro.props;
email = 'mailto:' + email;
---

<footer class="flex flex-col-reverse sm:flex-row bg-black w-full mt-1 justify-between">
    <div class="flex flex-row p-2.5">
        <p class="text-slate-500 font-code text-xs m-auto">© 2023 Matthew K Wilson</p>
    </div>
    <div class="flex flex-row p-2.5 justify-center">
        <a class="mx-2 text-1xl text-slate-200 hover:text-slate-400 font-code" target="_blank" href={email}>Contact</a>
        <a class="mx-2 text-1xl text-slate-200 hover:text-slate-400 font-code" target="_blank" href={linkedIn}>LinkedIn</a>
        <a class="mx-2 text-1xl text-slate-200 hover:text-slate-400 font-code" target="_blank" href={github}>Github</a>
        <a class="mx-2 text-1xl text-slate-200 hover:text-slate-400 font-code" target="_blank" href={shadertoy}>Shadertoy</a>
    </div>
</footer>