---

---

<header class="bg-black w-full flex flex-col justify-center mb-1">
    <div class="m-2.5">
        <h1 class="text-4xl sm:text-6xl text-slate-200 font-code">Matthew K Wilson{'>'}<span class="animate-pulse">_</span></h1>
        <div class="w-full flex flex-col">
            <h2 class="text-xl sm:text-2xl text-slate-400 font-code mx-1">A software developer with a passion for games and graphics.</h2>
            <h2 class="text-xl sm:text-2xl text-slate-600 font-code mx-1">Welcome to my portfolio!</h2>
        </div>
    </div>
</header>