---

---

<header class="bg-black w-full flex flex-col justify-center">
    <div class="m-2.5">
        <h1 class="text-6xl text-slate-200 font-code">Matthew K Wilson{'>'}<span class="animate-pulse">_</span></h1>
        <h2 class="text-2xl text-slate-400 font-code">Welcome to my portfolio!</h2>
    </div>
</header>