---
import { Image, Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import placeholder from '../assets/images/bhop_go/logo.png';
---
<div media-div class="flex flex-col w-full h-96">
    <div class="bg-black w-full h-3/4 relative">
        <slot/>
    </div>
    <div class="flex flex-row bg-slate-900 w-full h-1/4 p-2">
        <button class="bg-black w-1/3 mr-2 relative">
            <div class="absolute top-0 left-0 w-full h-full">
                <Image src={placeholder} alt="" class="max-w-full max-h-full w-auto h-auto m-auto absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%]"/>
            </div>
            <Icon class="w-12 h-12 absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] opacity-80" 
                style="color:white" pack="ic" name="baseline-keyboard-arrow-left"/>
        </button>
        <button class="bg-black w-1/3 border-2 border-white hover:cursor-default relative">
            <div class="absolute top-0 left-0 w-full h-full">
                <Image src={placeholder} alt="" class="max-w-full max-h-full w-auto h-auto m-auto absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%]"/>
            </div>
        </button>
        <button class="bg-black w-1/3 ml-2 relative">
            <div class="absolute top-0 left-0 w-full h-full">
                <Image src={placeholder} alt="" class="max-w-full max-h-full w-auto h-auto m-auto absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%]"/>
            </div>
            <Icon class="w-12 h-12 absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] opacity-80" 
                style="color:white" pack="ic" name="baseline-keyboard-arrow-right"/>
        </button>
    </div>
</div>

<script>
    const mediaPlayers = document.querySelectorAll('[media-div]');
    const imageZoomElement = document.getElementById('image-zoom-div');
    const zoomImage = document.getElementById('zoom-image');

    mediaPlayers.forEach(setupMediaPlayer);

    function setupMediaPlayer(mediaPlayer) {
        var activeMediaIndex = 0;

        const media = mediaPlayer.children[0].children;
        const mediaButtons: Element[] = mediaPlayer.children[1].children;

        setActiveMedia(media, mediaButtons, activeMediaIndex);
        
        mediaButtons[0].addEventListener('click', () => {
            if (activeMediaIndex > 0) {
                if(media[activeMediaIndex].hasAttribute('youtube-iframe')) {
                    var message = {
                        event: 'command',
                        func: 'pauseVideo'
                    };
                    media[activeMediaIndex].contentWindow.postMessage(JSON.stringify(message), '*');
                }

                activeMediaIndex--;

                setActiveMedia(media, mediaButtons, activeMediaIndex);
            }
        });        

        mediaButtons[2].addEventListener('click', () => {
            if (activeMediaIndex < media.length - 1) {
                if(media[activeMediaIndex].hasAttribute('youtube-iframe')) {
                    var message = {
                        event: 'command',
                        func: 'pauseVideo'
                    };
                    media[activeMediaIndex].contentWindow.postMessage(JSON.stringify(message), '*');
                }

                activeMediaIndex++;

                setActiveMedia(media, mediaButtons, activeMediaIndex);
            }
        });        

        setupZoomClickListeners(media);
    }

    function setupZoomClickListeners(media) {
        for (var i = 0; i < media.length; i++) {
            const element = media[i];
            if (!element.hasAttribute('youtube-iframe')) {
                element.addEventListener('click', () => {
                    zoomImage.setAttribute('src', element.getAttribute('src'));
                    imageZoomElement.classList.remove('invisible');
                    document.body.classList.add('overflow-hidden');
                });
            }
        }
    }

    function setActiveMedia(media, mediaButtons, index) {
        for (var i = 0; i < media.length; i++) {
            media[i].classList.add('invisible');
        }
        media[index].classList.remove('invisible');

        setMediaButtonImages(media, mediaButtons, index);
    }
    
    function setMediaButtonImages(media: Element[], mediaButtons: Element[], index: number) {
        const leftMediaImage = mediaButtons[0].children[0].children[0];
        const selectedMediaImage = mediaButtons[1].children[0].children[0];
        const rightMediaImage = mediaButtons[2].children[0].children[0];

        const leftMediaArrow = mediaButtons[0].children[1];
        const rightMediaArrow = mediaButtons[2].children[1];

        if(index == 0) {
            setMedia(leftMediaImage, null);
            mediaButtons[0].classList.add('invisible');
        } else {
            setMedia(leftMediaImage, media[index - 1]);
            mediaButtons[0].classList.remove('invisible');
        }
        setMedia(selectedMediaImage, media[index]);
        if(index == media.length - 1) {
            setMedia(rightMediaImage, null);
            mediaButtons[2].classList.add('invisible');
        } else {
            setMedia(rightMediaImage, media[index + 1]);
            mediaButtons[2].classList.remove('invisible');
        }
    }

    function setMedia(mediaElement: Element, media: Element) {
        if(media == null) {
            mediaElement.setAttribute('src', '');
        }else if(media.hasAttribute('youtube-iframe')) {
            mediaElement.setAttribute('src', getThumbnailSRC(media));
        } else {
            mediaElement.setAttribute('src', media.getAttribute('src'));
        }
    }

    function getThumbnailSRC(youtubeElement) {
        var id = youtubeElement.getAttribute('name');
        // id = id.substring(id.lastIndexOf('/') + 1, id.length);
        return 'https://img.youtube.com/vi/' + id + '/default.jpg'
    }

</script>