---
export interface Props {
	id: string;
}

const { id } = Astro.props;
const src = 'https://www.youtube.com/embed/' + id + '/?enablejsapi=1';
---

<div youtube-div class="w-full h-full aspect-w-16 aspect-h-9">
    <iframe name={id} src={src} title="YouTube video player" allowfullscreen></iframe>
</div>